#ahead-logo {
    height: 30vh; 
}

.ahead-long {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}
.icon-data {
    width: 15%;
}
.org-logo {
    /*position: absolute;
    right: 3em*/
    margin-right: 5%;
}
.org-logo:last-child {
    margin-right: 0;
}
#short-chart {
    width: 20vw;
    height: 20vw;
    background-color: white;
    border-radius: 500px;
    border: 10px solid grey;
    font-size: 500%;
    line-height: 80%;
    color: black;
    font-weight:900;
    display: flex;
}
#short-chart > div {
    margin: auto;
}
#short-chart > div div:last-child {
    font-size: 40%;
}

#mission {
    background-color: white;
    color: black;
    border-radius: 1vw;
    padding: 2em 1.25em;
    width: 80%
}

#demo {
     padding: 2em;
}

#advantage img {
    width: 50%;
    margin-top: 10%;
}

#products-list {
    width: 25%;
    position: absolute;
    /*margin-top: 1em;*/
}
#products-list a { 
    width: -webkit-fill-available;
    padding: 0.5em;
    margin-bottom: 0;
}
#products-list a:first-child {
    /*margin-bottom: 1em;*/
}
#pub-list {
    font-size: 80%;
    line-height: 1.8em;
}
#pub-list > div {
    position: relative;
}
#pub-list > div:after {
    content: "";
    position: absolute;
    top: 45px;
    bottom: 15px;
    right: 0;
    border-right: 1px solid #aaa;
}
@media screen and (min-width: 1081px) {
    #pub-list div:nth-child(3n):after {
        border-right: none;
    }
}
#pub-list div:last-child:after {
    border-right: none;
}
#pub-list.gtr-50 > div {
    padding-right: 20px;
}
.img-conf {
    height: 150px;
    display: flex;
}
.img-conf a {
    margin: auto;
    text-decoration: none;
}
.img-conf img {
    max-height: 150px;
    max-width: 100%;
    height: auto;
    margin: auto;
}

@media screen and (max-width: 1080px) {
    #short-chart {
        border: 5px solid grey;
        font-size: 350%;
        line-height: 80%;
        padding: 4.2vw 0;
    }
    #mission {
        width: 95%
    }
    .icon-data {
        width: 13%;
    }
    #pub-list div:nth-child(2n):after {
       border-right: none;
    }
}
@media screen and (max-width: 840px) {
    .org-logo {
        right: 2.5em;
    }

    #advantage img {
        width: 10vw;
        margin: 0 0 0 auto;
    }
    #advantage .row > div {
        display: inline-flex;
        align-items: center;
    }
}
@media screen and (max-width: 736px) {
    #mission {
        margin: 1em 0 !important;
    }
    .icon-data {
        width: 40px;
    }
    .org-logo {
        right: 1.25em;
    }
    #short-chart {
        width: 40vw;
        height: 40vw;
        border: 5px solid grey;
        font-size: 300%;
    }
    #short-chart > div div:last-child {
        font-size: 50%;
    }
    #mission {
        width: 100%
    }
    #demo {
        padding: 0;
    }

    #advantage img {
        width: 20vw;
    }

    #products-list {
        width: 100%;
        position: static;
        display: inline-block;
    }
    #products-list a {
        width: auto;
        padding: 0.75em;
    }
    #products-list a:first-child {
        margin: 0;
    }
    #pub-list div:after {
        left: 45px;
        right: 15px;
        bottom: 0;
        border-right: none;
        border-bottom: 1px solid #aaa;
    }
    #pub-list div:last-child:after {
       border-bottom: none;
    }
    #pub-list.gtr-50 > div {
        padding-right: 0;
        padding-bottom: 5px;
    }
}
.background-white {
    background-color: #fff;
    position: absolute;
    z-index: -2;
    top: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
}
.background {
    background-color: #fff;
    background-image: url(../../images/bg_top/bg@2x.png);
    background-size: cover;
    background-position: center 50%;
    position: absolute;
    z-index: -1;
    top: 0;
    opacity: .25;
    width: 100%;
    height: 100%;
}
#more {
    color: #fff;
    background: #35b88f;
    box-shadow: inset 0 0 0 1px rgba(24,48,38,0.4);
}
.info {
    width: 100%;
    position: relative;
    z-index: 1;
}
.box.style2 .inner .row:before {
    left: calc(100% / 12 * 2 + 21px);
    width: calc(100% / 12 * 10 - 20px)
}

