.card {
  height: 120px;
  margin-bottom: 30px;
  background-color: white;
  border-left: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.card img {
  width: auto;
  height: 120px;
}
.card .info {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  color: #888;
  font-size: 10pt;
  line-height: 1.5em;
  width: -moz-calc(100% - 150px);
  width: -webkit-calc(100% - 150px);
  width: calc(100% - 150px);
}
.card .name {
  font-weight: bold;
  font-size: 13pt;
}
.home-icon {
  float: right;
  margin-top: -3em;
}

#sec-phd .card {
  height: calc(120px * 1.5);
}
#sec-phd p {
  margin-bottom: 0em;
}

@media (max-width: 736px) {
  .card {
    height: 100px;
    margin-bottom: 10px;
  }
  .card img {
    width: auto;
    height: 100px;
  }
  .card .info {
    width: calc(100% - 130px);
  }
  #sec-phd .card {
    height: fit-content;
  }

}


